<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
        }
        .cont {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
            font-size: 35px!important;
            margin-top: 20px!important;
        }

        .container1 {
            width: fit-content;
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin: 0;
            display: flex;
            gap: 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(5px);
            padding: 35px 45px;
            border-radius: 20px;
            transition: .3s;
        }
        
        .wanttogo {
            width: fit-content;
            margin: 10px auto;
            padding: 0 25px 25px;
        }
        .wrap{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 800px;
            margin: auto;
            padding: 50px 0;
        }
        .btnn{
            background-color: #297e42!important;
            padding: 7px 15px!important;
        }
        .btnn:hover{
            background-color: #297e42e6!important;
        }

        .icn{
            font-size: 27px;
            color: #eee;
            cursor: pointer;
        }

        .btno{
            background-color: transparent;
            border: 2px solid #eee;
            padding: 10px 45px;
            color: #eee;
            border-radius: 5px;
            transition: .3s;
            font-size: 16px;
        }
        .btno:hover{
            background-color: #eee;
            color: black;
        }
        .trans{
            background-color: transparent;
            width: 27px;
            height: 27px;
            border-radius: 8px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: .3s;
        }
        .lal{
            width: fit-content;
            height: fit-content;
            margin-left: 15px;
        }
        .trans:hover{
            scale: .95;
        }
        .trans:focus{
            outline: none;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/all.min.css">
    <title>Destinations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="cont">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Destinations</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search" style="background-color: #eee;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form action="logout" method="get">
                <div class="lal">
                    <button type="submit" class="trans" ><i class="fa-solid fa-right-from-bracket icn"></i></button>
                </div>
            </form>
        </div>
    </nav>

    <div class="container">
        <h1>Hi, <%=user%>!</h1>
    </div>
    <div class="wrap">
        <div class="container1">
            <img id="image" src="/hiking.png" width="120" height="120">
            
            <label>Hiking</label>
            
            <button onclick="location.href = '/hiking';" id="hiking" class="btn btn-secondary btnn"> View </button>
        </div>
        <div class="container1">
            <img id="image" src="/cities.png" width="120" height="120">
            
            <label>Cities</label>

            <button onclick="location.href = '/cities';" id="cities" class="btn btn-secondary btnn"> View </button>
        </div>
        <div class="container1">
            <img id="image" src="/islands.png" width="120" height="120">
            
            <label>Islands</label>
            
            <button onclick="location.href = '/islands';" id="islands" class="btn btn-secondary btnn"> View </button>
        </div>
    </div>
    <div class="wanttogo">
        <button onclick="location.href = '/wanttogo';" id="wanttogo" class="btno">Want-to-Go List</button>
    </div>
    </div>
</body>
</html>